extends layout

block content
    div(id='wrapper', class='col12 pad4 contain fill-navy dark clip')
        div(id='map', class='center quiet')
        div(id='leftPane', class='col4 pad2 fill-darken1 pin-left')
